/*
Be 120 pixels in height
Be the full width of the viewport.
Have #4056A1 as its default background colour.
Have #FFFFF as its default font colour
The <span> within the <nav> has Bungee as it's default font-family
The inner content should not be touching the viewport edge on any side and should remain 1.5ems away from all edges
*/

nav {
  font-family: 'Bungee', cursive;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em;
}