.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  background: transparent;
  resize: none;
  border-width: 0 0 3px 0;
  outline: none;
  border-color: black;
}
.new-tweet footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}
.new-tweet div button {
  color: white;
  background-color: grey;
  padding: 0 1rem;
  font-family: 'Bungee', cursive;
  font-size: initial;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
}

.new-tweet form #tweet-label {
  font-family: 'source sans pro', cursive;
  margin-right: 10px;
  /* margin-bottom: 10px; */
}

.new-tweet #tweet-text {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  margin-top: 10px;
}

.new-tweet form hr {
  margin-bottom: 0px;
}

.new-tweet #error {
  display: none;
  color: red;
  border: 1px none red;
  justify-content: flex-start;
  padding: 0;
  border: 1px none;
  background-color: #f4f1ec;
  margin-bottom: 0px;
}

#counter {
  font-family: "Bungee", sans-serif;
  color: darkgray;
}

 /* Laptops / Desktops: minimum width of 1024px */
 @media only screen and (min-width: 1024px) {
  /* Write CSS rules that target Laptop/Desktop screen sizes and beyond */
  .new-tweet {
    /* display: none; */
    width: 72%;
    margin-bottom: 40px;
    margin-right: 10px;
  }

  #counter {
    font-family: "Bungee", sans-serif; 
    /* color: darkgray; */
  }

 }